* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden; 
    background: #0a2239;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #1d4e89;
    padding: 40px 60px;
}

.functionalities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.functionalities > p {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h2 {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    color: #fff;
    background: #3a7bd5;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.reset:hover {
    background: #1d4e89;
    color: #3a7bd5;
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #3a7bd5, 0 0 10px #3a7bd5, 0 0 15px #3a7bd5, 0 0 10px #3a7bd5;
    }
    100% {
        box-shadow: 0 0 10px #3a7bd5, 0 0 20px #3a7bd5, 0 0 30px #3a7bd5, 0 0 15px #3a7bd5;
    }
}

.reset:focus {
    background: #1d4e89;
    color: #fff;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transition: 0.3s;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #3a7bd5;
    transform: rotateY(0deg);
    transition: 0.3s;
    backface-visibility: hidden;
}

.boxMatch::after , .boxOpen::after {
    transform: rotateY(180deg);
}